.flex.mb-4
  .w-full
    %h1 Nutritions

.flex.mb-4
  .w-full
    = link_to 'Add nutrition', new_nutrition_path, class: 'f-button w-full'

.flex.mb-4
  .w-full
    = render 'layouts/search', form_url: nutritions_path

.flex.mb-4
  .w-full
    %ul.nutrition-list-group
      - @nutritions.each do |nutrition|
        %li.py-2.border-b.border-green-200.clickable{ 'data-href': nutrition_path(nutrition) }
          .w-full
            = link_to nutrition.name, nutrition_path(nutrition)
            .float-right.text-2xs
              = render 'icons/vegan', vegan: nutrition.vegan?

