%h1 Nutritions

= link_to 'New nutrition', new_nutrition_path, class: 'primary button'

%ul.nutrition-list-group
  - @nutritions.each do |nutrition|
    %li.nutrition-list-group-item.callout.clickable{ 'data-href': nutrition_path(nutrition) }
      = link_to nutrition.name
