- if journal_day.present?
  .flex.text-xs
    - if journal_day.display_link_to_previous_journal_day?
      .flex-1
        = link_to journal_day.previous_journal_day.display_date_with_weekday, journal_day_path(journal_day.previous_journal_day)
    - if journal_day.display_link_to_next_journal_day?
      .flex-1.text-right
        = link_to journal_day.next_journal_day.display_date_with_weekday, journal_day_path(journal_day.next_journal_day)
