.flex.items-center.justify-between
  %data.stats-pill.stats-kcal{ title: 'kcal' }= kcal
  %data.stats-pill.stats-carbs{ title: 'carbs' }= carbs
  %data.stats-pill.stats-protein{ title: 'protein' }= protein
  %data.stats-pill.stats-fat{ title: 'fat' }= fat
