.flex.items-center.justify-between
  %data.stats-pill.stats-kcal{ title: t('.kcal') }= kcal
  %data.stats-pill.stats-carbs{ title: t('.carbs') }= carbs
  %data.stats-pill.stats-protein{ title: t('.protein') }= protein
  %data.stats-pill.stats-fat{ title: t('.fat') }= fat
