- if recipes
  %ul.recipes.flex.flex-col.gap-y-4
    - recipes.each do |recipe|
      %li
        = link_to recipe_path(recipe), class: 'flex flex-col p-4 bg-white rounded border border-gray-200 hover:border-green-700 transition' do
          .w-full.flex.items-center
            .grow
              = recipe.name
            .shrink-0
              = render VeganBadgeIconComponent.new(recipe.vegan?)
          .w-full
            = render NutrientLabelsComponent.new(object: recipe, per_serving: true)
