- if recipes
  %ul.recipes.flex.flex-col.gap-y-4
    - recipes.each do |recipe|
      %li
        = link_to recipe_path(recipe) do
          .p-2.bg-gray-100.rounded.shadow.border.border-gray-200.hover:border-gray-100.transition
            .flex.flex-col
              .w-full.py-1.flex.gap-x-1
                = recipe.name
                = render 'icons/vegan', vegan: recipe.vegan?
              .w-full
                = render 'macronutrients/fact_labels', fact_data: recipe.macronutrient_data_serving
