.row
  .small-12.columns
    = link_to 'New Recipe', new_recipe_path, class: 'primary button'

.row
  .small-12.columns
    .card
      .card-divider
        %h1 Recipes
      .card-section.recipes
        - @recipes.each do |recipe|
          .row
            .small-12.columns
              = link_to recipe.name, recipe
            .small-12.columns
              = render 'recipes/macronutrient_bar', recipe: recipe, tiny: true
