%h1 Recipes

= link_to 'New Recipe', new_recipe_path, class: 'primary button pull-right'

%table.unstriped.hover.recipes
  %thead
    %tr
      %th{ width: '50%' } Name
      %th{ width: '50%' }
  %tbody
    - @recipes.each do |recipe|
      %tr.clickable-row{ 'data-href': recipe_path(recipe) }
        %td= link_to recipe.name, recipe
        %td
          = render 'recipes/macronutrient_bar', recipe: recipe, tiny: true
