%h1 Recipes
= link_to 'New Recipe', new_recipe_path, class: 'primary button'

%ul.food-list-group
  - @recipes.each do |recipe|
    %li.food-list-group-item
      .callout.clickable{ 'data-href': recipe_path(recipe) }
        = link_to recipe.name, recipe_path(recipe)
        .vertical-space-xs
          = render 'macronutrients/fact_labels', fact_data: recipe.macronutrient_data
