- if macronutrient_data
  .card
    .card-divider
      %h2
        = fa_icon 'battery'
        = "Facts"
    .card-section
      .grid-x
        .cell
          .text-muted
            = macronutrient_data[:label]
        .cell
          = render 'macronutrients/fact_labels', fact_data: macronutrient_data[:data]
