.flex.items-center.justify-between
  %data.stats-pill.stats-kcal{ title: 'kcal' }= fact_data.display_rounded_kcal
  %data.stats-pill.stats-carbs{ title: 'carbs' }= fact_data.display_rounded_carbs
  %data.stats-pill.stats-protein{ title: 'protein' }= fact_data.display_rounded_protein
  %data.stats-pill.stats-fat{ title: 'fat' }= fact_data.display_rounded_fat
