%h1 Users

%table.unstriped.hover
  %thead
    %tr
      %th Name
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td.text-right
          - if user.is_admin?
            .text-gray-400.text-xs Admin
          - else
            = link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }


= link_to 'Invite a person', new_user_path, class: 'primary button'
