default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: food_schi_li_development

test:
  <<: *default
  database: food_schi_li_test

production:
  <<: *default
  database: food_schi_li_production
