.flex.flex-col.gap-y-4
  .flex.flex.gap-y-2.items-baseline
    .grow
      %h2 Ingredients
    .shrink-0.text-gray-400.text-xs
      = t('.servings_with_count', count: @recipe.servings)

  = render Recipe::IngredientsListComponent.new(recipe: @recipe)
