.flex.flex-col.gap-y-4
  = render PortionSelection::FoodSearchFormComponent.new(form: food_search_form)
  = render RecipeIngredientFormComponent.new(form: recipe_ingredient_form, display_as_card: true)
