.flex.flex-col.gap-y-4
  - if @form.meal.recipe.present?
    .w-full
      %h1 Add portion to recipe
      .text-gray-500.text-xs
        Add a portion to
        %span.text-gray-600= @form.meal.recipe.name
        recipe on
        %span.text-gray-600= @journal_day.decorate.display_date
  - else
    %h1 Add portion meal

  = render 'portion_form', form: @form
