@tailwind base;
@tailwind components;

:root {
  --spacing-half: theme('spacing.1/2');
  --spacing-1: theme('spacing.1');
  --colors-gray-100: theme('colors.gray.100');
  --colors-gray-300: theme('colors.gray.300');
  --colors-gray-500: theme('colors.gray.500');
}

html {
  @apply text-2xl;
}

h1 {
  @apply pt-4 pb-1 mb-2 tracking-wider uppercase text-xl;
}

.title {
  @apply text-center text-xs block;
}

input[type=text] {
  @apply rounded;
}

nav {
  @apply text-center;
}

nav ul {
  @apply py-2;
}

nav a {
  @apply text-lg text-green-800 inline-block w-full border-solid border-green-400 border-b-4 pb-2;
}

nav a:hover {
  @apply text-green-700 border-green-800;
}

nav a.active {
  @apply border-green-700;
}

.f-button {
  @apply inline-block py-1 px-5 bg-green-300 text-center rounded;
  box-shadow: var(--spacing-half) var(--spacing-half) var(--colors-gray-500);
}

.f-button:hover {
  @apply cursor-pointer;
  box-shadow: var(--spacing-1) var(--spacing-1) var(--colors-gray-500);
}

a {
  @apply text-green-600;
}

a:hover {
  @apply text-green-500;
}

.shy-link {
  @apply text-gray-500;
}


@tailwind utilities;
