[Unit]
Description=Redis server
After=network.target

[Service]
User={{ redis_user }}
Group={{ redis_user_group }}
Type=forking
PIDFile={{ redis_pid_file_path }}
ExecStart=/usr/local/bin/redis-server {{ redis_conf_path }}
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/usr/local/bin/redis-cli -p {{ redis_port }} shutdown
Restart=always

[Install]
WantedBy=multi-user.target
