{{ app_env }}:
  adapter: postgresql
  encoding: unicode
  pool: {{ app_database_pool }}
  database: {{ app_database_name }}
  username: {{ app_database_username }}
  password: "{{ app_database_password }}"
  host: {{ app_database_host }}
