{{ app_env }}:
  secret_key_base: {{ app_secret_key_base }}
  smtp_settings:
    port: {{ app_smtp_settings['port'] }}
    domain: {{ app_smtp_settings['domain'] }}
    user_name: {{ app_smtp_settings['user_name'] }}
    password: {{ app_smtp_settings['password'] }}

