.flex.flex-col.gap-y-4
  %h1 Edit meal ingredient

  = form_with(model: @form, data: { turbo: false }) do |f|
    .bg-white.px-4.py-6.rounded.shadow.flex.flex-col.gap-y-4
      .flex.flex-col.gap-y-6
        .flex.flex-col.gap-y-2
          .flex.flex-col
            = f.label :amount, 'Portion', class: 'label'
            = f.text_field :amount, list: :portion_id_list, class: 'input'
            = render 'layouts/forms/field_errors', errors: f.object.errors, key: :amount
