@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full bg-slate-100;
}

h1 {
  @apply tracking-wide text-2xl text-green-700 ;
}

h2 {
  @apply tracking-wide text-xl text-green-700;
}

.nav-link {
  @apply flex py-2 bg-green-300 hover:bg-green-400 transition w-full justify-center;
  @apply sm:w-auto sm:bg-transparent sm:py-1 sm:px-5 sm:rounded font-medium sm:text-green-100 sm:hover:bg-green-300 sm:hover:text-gray-900;
}

.nav-link--current {
  @apply bg-green-400;
  @apply sm:bg-green-300 sm:text-gray-900;
}

select {
  @apply block;
}

li {
  list-style-type: none;
}

.button {
  @apply w-full flex py-2 items-center justify-center text-white bg-green-700 rounded hover:bg-green-600 cursor-pointer transition;
}

.secondary-button {
  @apply w-full flex py-2 items-center justify-center text-black bg-purple-200 rounded hover:bg-purple-300 cursor-pointer transition;
}

.dangerous-button {
  @apply w-full flex py-2 items-center justify-center text-gray-400 border rounded hover:text-red-500 hover:border-red-300 hover:bg-white cursor-pointer transition;
}

.confirmable-button {
  @apply w-full flex py-2 items-center justify-center bg-red-400 text-gray-900 border rounded hover:border-red-300 hover:bg-red-600 hover:text-white cursor-pointer transition;
}

.gray-dashed-button {
  @apply w-full flex py-2 items-center justify-center border-2 border-dashed border-gray-300 rounded  text-gray-400 hover:border-green-700 hover:bg-green-700 hover:text-white cursor-pointer transition
}

.f-button {
  @apply inline-block py-1 px-5 border text-center text-sm rounded cursor-pointer;
}

.f-button-green {
  @apply border-green-300 bg-green-300 text-green-800
}

.f-button:hover {
  @apply border-green-400 text-green-700;
}

.f-button-green-hollow {
  @apply border border-green-500 bg-green-100 text-green-600;
}

.f-button-green-hollow:hover {
  @apply bg-green-500 border-green-500 text-white;
}

.f-button-yellow-hollow {
  @apply border border-yellow-500 bg-yellow-100 text-yellow-800;
}

.f-button-yellow-hollow:hover {
  @apply border-yellow-500 bg-yellow-500 text-white;
}

.f-button-red-hollow {
  @apply border border-red-500 text-red-600;
}

.f-button-red-hollow:hover {
  @apply bg-red-500 border-red-500 text-white;
}

/*a, .fake-link {
  @apply text-green-600 cursor-pointer;
}

a:hover, .fake-link:hover {
  @apply text-green-500;
}*/

.label {
  @apply text-xs text-gray-500 ;
}

.input {
  @apply text-sm w-full border border-gray-300 rounded focus:ring-green-700 focus:border-green-700 placeholder:text-gray-400;
}

.checkbox {
  @apply rounded text-green-700 focus:outline-none focus:ring-green-700;
}

.shy-link {
  @apply text-gray-500 hover:text-gray-400 transition;
}

.shy-link-red:hover {
  @apply text-red-400;
}

.card {
  @apply border border-gray-200 bg-gray-100 py-2 px-3 text-base leading-tight;
}

.card-yellow {
  @apply border-yellow-200 bg-yellow-100;
}

[aria-invalid="true"] {
  @apply border-red-300;
}

/*[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
  @apply mb-0;
}*/

.form-error {
  @apply text-red-400 font-normal block text-xs;
}

/*input {
  @apply border border-green-400 p-2 text-xs text-green-700 tracking-wider;
}

input::placeholder {
  @apply text-green-500 text-xs;
}*/

input[aria-invalid="true"] {
  @apply border-red-200;
}

.stats-pill {
  @apply text-gray-500 text-sm;
}

.stats-pill:before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  @apply bg-transparent inline-block mr-1 text-transparent text-center;
}

.unit::after {
  @apply text-xs text-gray-400 ml-1;
}

.unit-ml::after {
  content: 'ml';
}

.unit-g::after {
  content: 'g';
}

.stats-kcal:before { @apply rounded bg-red-300 }
.stats-carbs:before { @apply rounded bg-purple-700 }
.stats-protein:before { @apply rounded bg-yellow-700 }
.stats-fat:before { @apply rounded bg-gray-700 }

ul.pagination li {
  @apply inline-block;
}

.toggleable--toggler-button {
  @apply items-center justify-center text-gray-400 rounded-full hover:text-gray-900 transition;
}

/* pagy */

.pagy-nav,
.pagy-nav-js {
  @apply flex gap-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded px-3 py-1 text-sm text-gray-500 bg-white border border-gray-200 hover:bg-green-700 transition cursor-pointer hover:text-gray-100 hover:border-white;
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply hidden;
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-green-700 hover:bg-green-700 hover:text-white border border-white;
}

