.macronutrient-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 18px;
}

.macronutrient-bar-segment {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.carbs {
  background-color: $violet; /* 3B3140 */
  color: #fff;
}

.protein {
  background-color: $beige; /* F2E0C9 */
  color: #000;
}

.fat {
  background-color: $rose; /* EA6ED4 */
  color: #fff;
}
