.gray {
  color: #c0c0c0;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

th {
}

h1 > small {
  font-size: 50% !important;
}

.title {
  font-size: 96px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.add {
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add::before {
  content: '+';
  padding-right: 10px;
  font-weight: 400;
}

.edit, .edit-xs {
  font-weight: 100;
}

.edit::before {
  content: '_';
  font-weight: 400;
  padding-right: 10px;
}

.edit-xs::before {
  content: '_';
  font-weight: 400;
  padding-right: 5px;
}

.edit-xs {
  width: 60px;
}

.destroy-xs {
  font-weight: 100;
  width: 60px;
}

.destroy-xs::before {
  content: 'x';
  padding-right: 5px;
  font-weight: 400;
}

.clickable-row {
  cursor: pointer;
}

.selectable.ingredient {
  width: 100%;
}

.vertical-space-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.vertical-space-md {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-space-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.vertical-space-xl {
  margin-top: 36px;
  margin-bottom: 36px;
}
