{% if item['redirecting_domains'] is defined %}
# redirects for domain {{ item['name'] }}
server {
  listen 80;
  server_name {{ item['redirecting_domains'] | join(' ') }};

  return 301 http://{{ item['primary_domains'][0] }}$request_uri;
}
{% else %}
# no redirects defined for domain {{ item['name'] }}
{% endif %}
