{% if item['redirecting_domains'] is defined %}
# redirects for domain {{ item['name'] }}
server {
  listen 443 ssl;
  server_name {{ item['redirecting_domains'] | join(' ') }};

  ssl_certificate /etc/letsencrypt/live/{{ item['primary_domains'][0] }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ item['primary_domains'][0] }}/privkey.pem;

  return 301 https://{{ item['primary_domains'][0] }}$request_uri;
}
{% else %}
# no redirects defined for domain {{ item['name'] }}
{% endif %}
