- if journal_days
  %ul.journal-days
    - journal_days.each do |journal_day|
      %li
        .card.hover:bg-gray-200.mb-4.clickable{ 'data-href': my_journal_day_path(journal_day) }
          .flex.flex-wrap
            .w-full.py-1.border-0.border-b.border-green-300= link_to journal_day.display_date_with_weekday, my_journal_day_path(journal_day)
            .w-full.pt-2.pb-1.text-2xs
              = render 'macronutrients/fact_labels', fact_data: journal_day.macronutrient_data
