.flex
  .w-full
    Journal days of
    %select.border.border-green-300.w-full.p-2{ id: 'journal_days_dropdown' }
      %option{ value: my_journal_days_path, selected: (params[:time].nil?) } past week
      %option{ value: my_journal_days_path(time: :month), selected: (params[:time] == 'month') } past month
      %option{ value: my_journal_days_path(time: :year), selected: (params[:time] == 'year') } past year
      %option{ value: my_journal_days_path(time: :all), selected: (params[:time] == 'all') } all time
