.flex
  %h1 My journal days

.flex.my-5
  = link_to 'Add Journal Day', new_my_journal_day_path, class: 'f-button f-button-green w-full'

= render 'layouts/pagy', pagy: @pagy

.flex.my-10
  .w-full
    = render 'index', journal_days: @journal_days

= render 'layouts/pagy', pagy: @pagy
