.flex.mb-4
  .w-full
    %h1 My journal days

.flex.mb-4
  .w-full
    = link_to 'Add Journal Day', new_my_journal_day_path, class: 'f-button f-button-shadow'

.flex
  .w-full
    = render 'scope_dropdown'

= render 'index', journal_days: @journal_days
