- if portions.present?
  %ul
  - portions.ordered_by_amount.each do |portion|
    %li.pb-1
    / - unless portion.primary?
    /   = link_to 'Edit', edit_nutrition_portion_path(portion.nutrition, portion)
    /   = link_to 'Delete', nutrition_portion_path(portion.nutrition, portion), method: :delete, data: { confirm: 'Are you sure?' }
    / - else
    /   *
    - if portion.primary?
      Default
    - else
      = portion.name
    .float-right
      %span{ class: "unit unit-#{portion.nutrition.decorate.unit_abbrevation}"}= portion.amount
- else
  .text-gray-500.text-center.text-xs There are no portions yet

