[Unit]
Description=Puma HTTP Server
After=network.target

# Uncomment for socket activation (see below)
Requires=puma_{{ app_name }}.socket

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User={{ app_user }}
Group={{ app_user_group }}

# Specify the path to your puma application root
WorkingDirectory={{ app_application_dir }}

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1

# The command to start Puma
# Here we are using a binstub generated via:
# `bundle binstubs puma --path ./sbin`
# in the WorkingDirectory (replace <WD> below)
# You can alternatively use `bundle exec --keep-file-descriptors puma`
ExecStart=/home/{{ app_user }}/.rbenv/shims/bundle exec puma -C {{ app_shared_dir }}/config/puma_conf.rb

Restart=always

[Install]
WantedBy=multi-user.target
