%footer
  - if @current_user.present?
    .vertical-space-xl
      .grid-x.text-center.text-tiny
        .cell.text-muted
          Legend
        .cell
          = fa_icon 'leaf green', text: 'Vegan'

    .vertical-space-xl
      .grid-x.text-center.text-tiny
        .cell
          = link_to logout_path, method: :delete do
            = fa_icon 'power-off'
            Log out
