= form_with url: form_url, method: :get, local: true do |f|
  .flex
    %div{ class: 'w-3/5' }
      = f.text_field :search_query, class: 'w-full', placeholder: 'Search', value: params[:search_query]
    %div{ class: 'w-2/5' }
      = f.submit 'Search', class: 'f-button w-full'
