<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= yield %>
      </div>
  </body>
</html>
