!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'application', media: 'all'
    :css
      /* Email styles need to be inline */
  %body
    .row
      .col-xs-10.col-xs-offset-1
        = yield
